.imgs_more {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.imgs_more .imgsBox {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: block;
}
.imgs_more .imgsBox .swiper-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.imgs_more .imgsBox .swiper-container .gallery-top {
  padding-bottom: 20px;
}
.imgs_more .imgsBox .swiper-container .gallery-top .swiper-slide {
  width: 100%;
  max-height: 600px;
}
.imgs_more .imgsBox .swiper-container .gallery-top .swiper-slide-active {
  /*box-shadow: 2px 2px 5px rgba(0,0,0,0.4);*/
}
.imgs_more .imgsBox .swiper-container .gallery-top .swiper-button-white {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.imgs_more .imgsBox .swiper-container .gallery-top .swiper-button-white:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.imgs_more .imgsBox .gallery-thumbs {
  box-sizing: border-box;
  border-bottom: 3px solid #dddddd;
  border-top: 1px solid #dddddd;
  padding: 20px 50px;
}
.imgs_more .imgsBox .gallery-thumbs .swiper-slide {
  width: 15%;
  opacity: 0.3;
}
.imgs_more .imgsBox .gallery-thumbs .swiper-slide:hover {
  cursor: pointer;
}
.imgs_more .imgsBox .gallery-thumbs .swiper-slide-active {
  opacity: 1;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.4);
}
.imgs_more .img_title {
  font-size: 1.3rem;
  font-weight: bolder;
  text-align: center;
  margin-top: 0.7rem;
}
.imgs_more .annotation {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}
.imgs_more .annotation .annotation-title {
  font-size: 0.9rem;
  font-weight: bolder;
}
.imgs_more .annotation .annotation-content {
  padding-left: 2rem;
}
.imgs_more .annotation .annotation-content li {
  list-style: disc;
  font-size: 0.7rem;
  margin-bottom: 0.2rem;
}
.imgs_more .annotation .annotation-content li:last-child {
  margin-bottom: 0;
}
.imgs_more .annotation .annotation-content li:first-child {
  margin-top: 0.2rem;
}
