.table_component .table-title {
  font-size: 1.3rem;
  text-align: center;
  font-weight: bolder;
}
.table_component .table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2px;
}
.table_component .table > thead > tr > th,
.table_component .table > tbody > tr > th,
.table_component .table > tfoot > tr > th,
.table_component .table > thead > tr > td,
.table_component .table > tbody > tr > td,
.table_component .table > tfoot > tr > td {
  padding: 5px;
  line-height: 1.3;
  vertical-align: top;
  border-top: 1px solid red;
}
.table_component .table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid red;
}
.table_component .table > caption + thead > tr:first-child > th,
.table_component .table > colgroup + thead > tr:first-child > th,
.table_component .table > thead:first-child > tr:first-child > th,
.table_component .table > caption + thead > tr:first-child > td,
.table_component .table > colgroup + thead > tr:first-child > td,
.table_component .table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table_component .table > tbody + tbody {
  border-top: 2px solid red;
}
.table_component .table .table {
  background-color: #FFFFFF;
}
.table_component .table-bordered {
  border: 1px solid red;
}
.table_component .table-bordered > thead > tr > th,
.table_component .table-bordered > tbody > tr > th,
.table_component .table-bordered > tfoot > tr > th,
.table_component .table-bordered > thead > tr > td,
.table_component .table-bordered > tbody > tr > td,
.table_component .table-bordered > tfoot > tr > td {
  border: 1px solid red;
}
.table_component .table-bordered > thead > tr > th,
.table_component .table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table_component .table-hover > tbody > tr:hover {
  background-color: #1ABC9C;
}
.table_component table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}
.table_component table td[class*="col-"],
.table_component table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}
